.loginForm {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* padding: 0 2rem; */
	height: 82vh;
	text-align: center;
	width: 49vw;
    background: #111;

    margin-left: 12rem;
}
h1{
    color: white;
}

.inp{
    padding: 1rem;
    margin: 1rem 0;
    text-transform: none;
    font-size: 1rem;
    width: 30rem;
    background: #333;
    color: #fff; 
}

.inp::placeholder{
    color: #FFFFFF;
    opacity: .6;
}
#select{
    width: 30rem;
}
.ghostbtn{
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
}
.ghostbtn>a{
    color: #111;
}
#bt{
    padding:1rem 2rem;
    background-color: black;
font-size: 1rem;

}
.container {
  	display: flex;
	position: relative;
	overflow: hidden;
	max-width: 100%;
    background-color: #000;
	/* min-height: 65vh; */
}

/* .details{
	text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 49.5vw;
    border: 1px solid #111;
    background-color: #111;
    color: #fff;
    flex-wrap: wrap;
    margin: 0;
} */
/* .details>p{ */
    /* letter-spacing: 2px;
    margin-top: 1rem;
}
.details>h1{
    font-size: 2rem;
    margin: 1rem;
}
.details>.signIn{
    margin: 2rem;
} */
.login-in-container, .sign-up-container{
	/* display: flex; */
    /* border: 1px solid  #a4af0ed2; */
    
flex-wrap: wrap;
}
#bt:hover{
    background-color: #a4af0ed2 ;
    color: #111;
}
#bt:active{

    transform: translateY(.3rem)
}
.login-img{
    width: 32vw;
    margin: 3rem 0rem 2rem 8rem ;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
  
@media (max-width:991px) {
    .login-in-container{
        height: auto;
    }
    .loginForm,.details{
        width: 100vw;
        height: 100vh;
    }
    .inp{

        padding: 2rem;
        width: 80vw;
    }
   
    #bt{
        font-size: 1.5rem;
    }
.ghostbtn,.details>p{
    font-size: 2rem;
}
.details>h1{
    font-size: 4rem;
}
}
@media (max-width:401px) {
.inp{
    width: 60vw;
}
}